<!DOCTYPE html>
<html>
<head>
	<title>欢迎</title>
	<link rel="stylesheet" href="/layui/css/layui.css">
	<script src="/layui/layui.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
<% include ../tomponent/header.html %>
<% include ../tomponent/aside.html%>


<section class="layui-body" style="margin:10px 10px 10px 20px;bottom: 0">
	<fieldset class="layui-elem-field layui-field-title" >
	  <legend>Ajax请求</legend>
	</fieldset>

	<div class="layui-form">
	  <table class="layui-table">
	    <colgroup>
	      <col width="50">
	      <col width="100">
	      <col width="200">
	      <col width="300">
	      <col width="80">
	      <col width="80">
	      <col>
	    </colgroup>
	    <thead>
	      <tr>
	        <th><input name="" lay-skin="primary" lay-filter="allChoose" type="checkbox"></th>
	        <th>图像</th>
	        <th>题目</th>
	        <th>关键字</th>
	        <th>访问次数</th>
	        <th>收藏数</th>
	        <th>时间</th>
	      </tr> 
	    </thead>
	    <tbody  class="layui-form-item" pane="" id="tbody">
		
			<% data.forEach(function(info){
				var img = "http://tnfs.tngou.net/image"+info.img+"_180x120";
				var time = new Date(info.time).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");
			%>
				<tr>
		        <td><input name="" lay-skin="primary" type="checkbox"></td>
		        <td>
		        	<img src="<%=img%>" height="40" width="60">
		        </td>
		        <td><%=info.title%></td>
		        <td><%=info.keywords%></td>
		        <td><%=info.count%> </td>
		        <td><%=info.fcount%></td>
		        <td><%=time%></td>
		      	</tr>
			<%})%>
	      	
	    </tbody>

		<tfoot id="foot">
            <tr>
            <td colspan="7" style="text-align: center;
            	font-size: 20px;border: 1px solid #e2e2e2;background-color: #e2e2e2;">下一页</td>
            </tr>
        </tfoot>
	
	  </table>
	</div>
</section>
</div>

<script type="text/javascript">
layui.use('form', function(){
  var $ = layui.jquery, form = layui.form();
 
  //全选
  form.on('checkbox(allChoose)', function(data){
    var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
    child.each(function(index, item){
      item.checked = data.elem.checked;
    });
    form.render('checkbox');
  });
  
  $('#foot').click(function () {
  	var data = {
  		rows:<%=rows%>,
  		page:<%=page%> + 1,
  	};

  	$.ajax({
  		url: "/http/ajax",
  		type: "post",
  		data:data,
  		success:function(d) {
  
  			for (var i = 0; i < d.data.length; i++) {
  				var info = d.data[i];
  				var img = "http://tnfs.tngou.net/image"+info.img+"_180x120";
  				var time = new Date(info.time).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");

  				$('#tbody')
  				.append("<tr>")
  				.append("<td><input name='' lay-skin='primary' type='checkbox'></td>")
  				.append("<td><img src="+img+" height='40' width='60'></td>")
  				.append("<td>"+info.title+"</td>")
  				.append("<td>"+info.keywords+"</td>")
  				.append("<td>"+info.count+"</td>")
  				.append("<td>"+info.fcount+"</td>")
  				.append("<td>"+time+"</td>")
  				.append("</tr>");
  			}
  			form.render('checkbox');
  		
  		}
  	});

  });

});
</script>
</body>
</html>