<!DOCTYPE html>
<html>
<head>
	<title>欢迎</title>
	<link rel="stylesheet" href="/layui/css/layui.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script src="/layui/layui.js"></script>
</head>
<body>



<div class="layui-layout layui-layout-admin">
<% include tomponent/header.html %>

<% include tomponent/aside.html%>


<section class="layui-body" style="margin:10px 10px 10px 20px">
	<fieldset class="layui-elem-field layui-field-title" >
	  <legend>欢迎使用后台管理系统</legend>
	</fieldset>
</section>
<% include tomponent/footer.html %>
</div>

<script>
	
</script>
</body>
</html>
