<!DOCTYPE html>
<html>
<head>
	<title>欢迎</title>
	<link rel="stylesheet" href="/layui/css/layui.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/layui/layui.js"></script>
</head>
<body>



<div class="layui-layout layui-layout-admin">
<% include tomponent/header.html %>

<% include tomponent/aside.html%>


<section class="layui-body" style="margin:10px 10px 10px 20px">
	<fieldset class="layui-elem-field layui-field-title" >
	  <legend>操作结果</legend>
	</fieldset>

	<blockquote class="layui-elem-quote">
  		温馨提示：<%= mes %> &nbsp;&nbsp; <a id="backUrl" href="<%= backUrl %>"></a>
    </blockquote>
</section>
<% include tomponent/footer.html %>
</div>

<script>
	var timeOut = 3;
    timeoutId = window.setInterval(function () {
        if(timeOut > 0)
        {
            timeOut -- ;
            $("#backUrl").text(timeOut +"秒后跳回，点击立即跳回")

        }else
        {
            window.location.href = $("#backUrl").attr("href");
            clearInterval(timeoutId);
        }
    }, 1000);
</script>
</body>
</html>


